{% extends "network/layout.html" %}
{% load static %}
{% block title %}
    Home
{% endblock %}

{% block body %}

    <form class="form-group" id="edit-form" method="POST">
        {% csrf_token %}
        <textarea data-id="{{ p.id }}" class="form-control" id="compose-area" name="post">{{ p.post }}</textarea>
        <button type="submit" id="submit-btn" class="btn btn-primary">Save</button>
    </form>

    <div class="post-main">
        <div class="post-container">
            <div class="title-post">
                <div class="title">{{ p.user|title }}</div>
                <div id="the-post" class="post"> {{ p.post }} </div>
            </div>
            <div class="date-time">
                <div class="date">{{ p.date }} </div>
                <div class="time"> {{ p.time }} </div>
            </div>           
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/edit.js' %}"></script>
{% endblock %}