{% extends "network/layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}

    <form class="form-group" action="{% url 'index' %}" method="POST">
        {% csrf_token %}
        <textarea class="form-control" id="compose-area" name="post"></textarea>
        <button class="btn btn-primary">Post</button>
    </form>

    <div class="post-main">
        {% for i in post %}
            <div class="post-container">
                <div class="title-post">
                    <div class="title">{{ i.user|title }}</div>
                    <div class="post"> {{ i.post }} </div>
                </div>
                <div class="date-time">
                    <div class="date">{{ i.date }} </div>
                    <div class="time"> {{ i.time }} </div>
                </div>
                <div class="like">
                    <a class="like-link" id="like-{{ i.id }}" data-id="{{ i.id }}" href="#">
                        <svg class="like-btn" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="grey" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                    </a>
                    <p id="num-likes-{{ i.id }}" class="num-likes"> {{ i.likes.count}} </p>
                </div>
                <div class="edit">
                    {% if i.user == request.user %}
                        <a href="edit/{{ i.id }}">Edit</a>
                    {% endif %}
                </div>              
            </div>
        {% endfor %}
    </div>

    <nav class="page-nav" aria-label="Page navigation example">
        <ul class="pagination">
            {% if post.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ post.previous_page_number }}">previous</a></li>
            {% endif %}
    
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ post.number }}">{{ post.number }} <span class="sr-only">(current)</span></a>
                </li>
    
            {% if post.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ post.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ post.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}