{% extends "network/layout.html" %}
{% load custom_template_tags %}
{% block title %}
    {{request.user}}
{% endblock %}

{% block body %}

    <div id="f-f">
        <p id="followers">Followers: {{ user.followers.count }}</p>
        <p id="following">Following: {{ user.following.count }}</p>        
    </div>

    {% for u in users %}
        <div id="user"> 
            {{ u.username|title }}
            {% to_list user u.followers as value %}
            {% if value == False %}
            <button class="btn btn-success" onclick="window.location.href='/follow/{{ u.id }}'">Follow</button>
            {% else %}
            <button class="btn btn-danger" onclick="window.location.href='/follow/{{ u.id }}'">Unfollow</button>
            {% endif %}
        </div>
    {% endfor %}

    <div class="post-main">
        {% for i in posts %}
            <div class="post-container">
                <div class="title-post">
                    <div class="title">{{ i.user|title }}</div>
                    <div class="post"> {{ i.post }} </div>
                </div>
                <div class="date-time">
                    <div class="date">{{ i.date }} </div>
                    <div class="time"> {{ i.time }} </div>
                </div>
                <div class="like">
                    <a class="like-link" id="like-{{ i.id }}" data-id="{{ i.id }}">
                        {% post_liker user i as likee %}
                        {% if likee == False %}
                        <svg id="b-{{ i.id }}" class="like-btn" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="grey" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        {% else %}
                        <svg id="b-{{ i.id }}" class="like-btn" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart-fill" fill="red" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                        </svg>
                        {% endif %}
                    </a>
                    <p id="num-likes-{{ i.id }}" class="num-likes"> {{ i.likes.count}} </p>
                </div>
                <div class="edit">
                    {% if i.user == request.user %}
                        <a href="edit/{{ i.id }}">Edit</a>
                    {% endif %}
                </div>              
            </div>
        {% endfor %}
    </div>

    <nav class="page-nav" aria-label="Page navigation example">
        <ul class="pagination">
            {% if posts.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a></li>
            {% endif %}
    
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?page={{ posts.number }}">{{ posts.number }} <span class="sr-only">(current)</span></a>
                </li>
    
            {% if posts.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}